div{
  background-color: aquamarine;
}
  
body{
  margin: 0%;
}
h1{
  margin-top: 0;
}
img {
    
   
    width: 50;
    
  }
  
.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #863838;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(152, 95, 95);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #da4d6e;
    color: black;
  }